#!/bin/bash

RDB_COMMANDS_DIR_NAME="cmds"
RDB_COMMANDS_SYNCHRONOUS_DIR_NAME="sync"
RDB_COMMAND_HELP_NAME="help"

export RDB_COMMANDS_PATH="${RDB_BASE_PATH}/${RDB_COMMANDS_DIR_NAME}"
export RDB_COMMANDS_SYNCHRONOUS_PATH="${RDB_BASE_PATH}/${RDB_COMMANDS_DIR_NAME}/${RDB_COMMANDS_SYNCHRONOUS_DIR_NAME}"

export RDB_APP_PACKAGE_NAME=
